In [29]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [7]:
jan_csv= "resources/January2019.CSV"
feb_csv="resources/February2019.CSV"
march_csv="resources/March2019.CSV"
april_csv="resources/April2019.CSV"
may_csv="resources/May2019.CSV"
june_csv="resources/June2019.CSV"
july_csv="resources/July2019.CSV"
august_csv="resources/August2019.CSV"
september_csv="resources/September2019.CSV"
october_csv="resources/October2019.CSV"
november_csv="resources/November2019.CSV"

december_excel="resources/December2019 2.xlsm"

jan_df=pd.read_csv(jan_csv)

In [9]:
feb_df=pd.read_csv(feb_csv)

In [10]:
march_df=pd.read_csv(march_csv)

In [11]:
april_df=pd.read_csv(april_csv)

In [12]:
may_df=pd.read_csv(may_csv)

In [13]:
june_df=pd.read_csv(june_csv)

In [14]:
july_df=pd.read_csv(july_csv)

In [15]:
august_df=pd.read_csv(august_csv)

In [16]:
september_df=pd.read_csv(september_csv)

In [17]:
october_df=pd.read_csv(october_csv)

In [18]:
november_df=pd.read_csv(november_csv)

In [19]:
december_df=pd.read_excel(december_excel)
december_df.head()

,Complaint,CodedMonth,DateOccur,FlagCrime,FlagUnfounded,FlagAdministrative,Count,FlagCleanup,Crime,District,Description,ILEADSAddress,ILEADSStreet,Neighborhood,LocationName,LocationComment,CADAddress,CADStreet,XCoord,YCoord
0,20-000870,2019-12,2013-12-01 12:00:00,Y,,,1,,115400,6,STLG BY DECEIT/IDENTITY THEFT REPORT,1260,GIMBLIN ST,74,,,1260,GIMBLIN,895133.3,1048834.0
1,19-059995,2019-12,2019-12-01 00:01:00,Y,,,1,,241100,1,DISORDERLY CONDUCT-PEACE DSTRB/INDIVIDUAL,506,SCHIRMER ST,2,,APT A,506,SCHIRMER,888105.3,988858.0
2,19-061685,2019-12,2019-12-01 00:05:00,Y,,,1,,69702,2,LARCENY-ALL OTHER UNDER $500,6825,BALSON AVE,10,,,6825,BALSON,875432.1,1013256.0
3,19-060008,2019-12,2019-12-01 00:20:00,Y,,,1,,142320,3,DESTRUCTION OF PROPERTY-MALICIOUS/PRIV PROP,1859,S 10TH ST,21,STREET,,921,GEYER,904272.1,1010767.0
4,19-059992,2019-12,2019-12-01 00:25:00,Y,,,1,,241100,4,DISORDERLY CONDUCT-PEACE DSTRB/INDIVIDUAL,1000,SPRUCE ST,35,,WHEELHOUSE,1000,SPRUCE,906666.7,1015976.0

In [20]:
dataframes=[jan_df,feb_df,march_df,april_df,may_df,june_df,july_df,
           august_df,september_df,october_df,november_df,december_df]
crime_df=pd.concat(dataframes)

In [21]:
crime_df.head()

,Complaint,CodedMonth,DateOccur,FlagCrime,FlagUnfounded,FlagAdministrative,Count,FlagCleanup,Crime,District,Description,ILEADSAddress,ILEADSStreet,Neighborhood,LocationName,LocationComment,CADAddress,CADStreet,XCoord,YCoord
0,19-004506,2019-01,01/01/2008 08:00,Y,,,1,,115400,3,STLG BY DECEIT/IDENTITY THEFT REPORT,2806,WYOMING ST,30,,,2806,WYOMING,897464.8,1006417.0
1,19-002822,2019-01,01/01/2018 00:01,Y,,,1,,43025,5,ASSLT-AGGRAV-OTH-WPN-2ND-CHILD-DOMESTIC,5082,CABANNE AVE,51,,,1,CHILDRENS,887152.9,1027974.0
2,19-003393,2019-01,01/01/2019 00:01,Y,,,1,,69602,1,"LARCENY-ALL OTHER $500 - $24,999",8301,VULCAN ST,2,,@ F M ROVERTONI,8301,VULCAN,888279.3,986021.3
3,19-000005,2019-01,01/01/2019 00:01,Y,,,1,,41021,4,AGG.ASSAULT-FIREARM/CITIZEN CHILD 1ST DEGREE,713,BIDDLE ST,62,,,713,BIDDLE,909133.8,1020613.0
4,19-000062,2019-01,01/01/2019 00:01,Y,,,1,,152200,2,WEAPONS-CITY VIOL/DISCHRGING IN CITY,1115,S NEWSTEAD AVE,39,,,1115,NEWSTEAD,888873.8,1016856.0

In [22]:
cleandf=crime_df[["DateOccur","Description"]]
cleandf.head()

          DateOccur                                   Description
0  01/01/2008 08:00          STLG BY DECEIT/IDENTITY THEFT REPORT
1  01/01/2018 00:01       ASSLT-AGGRAV-OTH-WPN-2ND-CHILD-DOMESTIC
2  01/01/2019 00:01              LARCENY-ALL OTHER $500 - $24,999
3  01/01/2019 00:01  AGG.ASSAULT-FIREARM/CITIZEN CHILD 1ST DEGREE
4  01/01/2019 00:01          WEAPONS-CITY VIOL/DISCHRGING IN CITY

In [24]:
cleandf.rename(columns= {"DateOccur":"time"},inplace=True)

In [25]:
cleandf.rename(columns= {"Description":"crime"},inplace=True)

In [26]:
cleandf.head()

               time                                         crime
0  01/01/2008 08:00          STLG BY DECEIT/IDENTITY THEFT REPORT
1  01/01/2018 00:01       ASSLT-AGGRAV-OTH-WPN-2ND-CHILD-DOMESTIC
2  01/01/2019 00:01              LARCENY-ALL OTHER $500 - $24,999
3  01/01/2019 00:01  AGG.ASSAULT-FIREARM/CITIZEN CHILD 1ST DEGREE
4  01/01/2019 00:01          WEAPONS-CITY VIOL/DISCHRGING IN CITY

In [31]:
cleandf.dtypes

time     object
crime    object
dtype: object

In [33]:
stringdf=cleandf['time'].astype(str)

In [37]:
cleandf["time"]= pd.to_datetime(cleandf['time']).dt.date

C:\Users\320043650\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [38]:
cleandf.head()

         time                                         crime
0  2008-01-01          STLG BY DECEIT/IDENTITY THEFT REPORT
1  2018-01-01       ASSLT-AGGRAV-OTH-WPN-2ND-CHILD-DOMESTIC
2  2019-01-01              LARCENY-ALL OTHER $500 - $24,999
3  2019-01-01  AGG.ASSAULT-FIREARM/CITIZEN CHILD 1ST DEGREE
4  2019-01-01          WEAPONS-CITY VIOL/DISCHRGING IN CITY

In [46]:
finaldf=cleandf.drop([0, 1])

In [48]:
finaldf.head()

         time                                         crime
2  2019-01-01              LARCENY-ALL OTHER $500 - $24,999
3  2019-01-01  AGG.ASSAULT-FIREARM/CITIZEN CHILD 1ST DEGREE
4  2019-01-01          WEAPONS-CITY VIOL/DISCHRGING IN CITY
5  2019-01-01   DESTRUCTION OF PROPERTY-MALICIOUS/PRIV PROP
6  2019-01-01  AGG.ASSAULT-FIREARM/CITIZEN CHILD 1ST DEGREE

In [49]:
export_csv=cleandf.to_csv("resources/crimedatacombined")